
body{
    font-family: "Roboto" sans-serif
}



.item-menu {font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 0.02em;
    
    color: #2E2F42;}
 
.list{
    list-style: none;
}

.link{
   text-decoration: none; 
}
.section{
background-color: #2E2F42
;
}

.user-img{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5px;
    
    letter-spacing: 0.02em;
    color: #434455;
}

.section-Effective{
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07px;

    text-align: center;
    letter-spacing: 0.02em;
    color:  #FFFFFF;;}


.Strategy-page{ 
    font-weight: 500;
font-size: 20px;
line-height: 1,2px;
letter-spacing: 0.02em;
color: #2E2F42;

}
.paragraph-Strategy{
    t-weight: 400;
font-size: 16px;
line-height: 1,5px;
letter-spacing: 0.02em;
color: #434455;
}


.beginning-devices{
    font-weight: 700;
font-size: 36px;
line-height: 1,11px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.Team-photo{
    font-weight: 700;
font-size: 36px;
line-height: 1,11px;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
} 


.name-team{
font-weight: 500;
font-size: 20px;
line-height: 1,2px;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

.positions{
    font-weight: 400;
font-size: 16px;
line-height: 1,5px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.footer-Increase{
    font-weight: 400;
font-size: 16px;
line-height: 1,5px;
letter-spacing: 0.02em;
color: #F4F4FD;
}


