
body{
    font-family: "Roboto" sans-serif;
    color: #434455, var(--brand-color);
    background-color: #FFFFFF
}


.portfolio-WebStudio_logo{
    font-weight: 800;
font-size: 18px;
line-height: 1,17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}


.portfolio_all-html{
    background-color: #404BBF
}

.portfolio_html-all:hover{
    color:#404BBF ;
}




.portfolio_html-all:hover{
    color:#404BBF ;
}



.Webstudio-color-logo{
    font-weight: 800;
font-size: 18px;
line-height: 1,17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}





.Webstudio-color-fliv {
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD
;

}



.portfolio-WebStudio-flov  { 
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}




.logo{
    background-color:#2E2F42 ;
}



.list{
    list-style: none;
}

.link{
    text-decoration: none; 
 }

.portfolio-studio:font-femeli:sans-serif{
    font-weight: 500;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-mailto{ 
       font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
    }


.portfolio_all-html:font-femeli:sans-serif{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
}


.portfolio_html-all:font-femeli:sans-serif{
    font-weight: 500;
font-size: 16px;
line-height: 1,50;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}


.portfolio-tex{
    font-weight: 500;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.portfolio_paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,50;
    letter-spacing: 0.02em;
    color: #434455; 
}


.section-team-our{
background-color:#F4F4FD ;
}



.section-devices-tims{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.section{
    background-color:#2e2f42;
}

.section-effective-for{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
}