
body{
    font-family: "Roboto" sans-serif;
    color: #434455, var(--brand-color);
    background-color: #FFFFFF
}


.portfolio-WebStudio_logo{
    font-weight: 800;
font-size: 18px;
line-height: 1,17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}







.Webstudio-color-logo{
    font-weight: 800;
font-size: 18px;
line-height: 1,17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none; 
 }

.portfolio-studio{
    font-weight: 500;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-mailto{ 
       font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
    }


.portfolio_all-html{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
}


.portfolio_html-all{
    font-weight: 500;
font-size: 16px;
line-height: 1,50;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}


.portfolio-tex{
    font-weight: 500;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.portfolio_paragraf{
    nt-weight: 400;
    font-size: 16px;
    line-height: 1,50;
    letter-spacing: 0.02em;
    color: #434455; 
}