
.portfolio-WebStudio{
    font-weight: 800;
font-size: 18px;
line-height: 1,17px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}


.portfolio-studio{
    font-weight: 500;
font-size: 16px;
line-height: 1,5px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-mailto{ 
       font-weight: 400;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 0.02em;
    color: #434455;
    }


.portfolio_all{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
}


.portfolio_html{
    font-weight: 500;
font-size: 16px;
line-height: 1,50px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}


.portfolio-tex{
    font-weight: 500;
font-size: 20px;
line-height: 1,2px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.portfolio_paragraf{
    nt-weight: 400;
    font-size: 16px;
    line-height: 1,50px;
    letter-spacing: 0.02em;
    color: #434455; 
}